/* App Main Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Utility Classes */
.active {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex;
}

.bd-highlight {
  display: flex;
  align-items: center;
}
